<?xml version="1.0"?>
<robot name="fpv_drone_ardupilot_gimbal" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="package_name" default="fpv_drone" />
  <xacro:arg name="robot_name" default="fpv_drone" />
  <xacro:arg name="rgb_base" default="0.0625 0 0.25" />
  <xacro:arg name="rgb_cam" default="0 1 1" />
  <xacro:arg name="rgb_ccw" default="1 0 0" />
  <xacro:arg name="rgb_cw" default="0 0 1" />

  <xacro:arg name="instance" default="0" />

  <xacro:property name="package_name" value="$(arg package_name)" />
  <xacro:property name="robot_name" value="$(arg robot_name)" />
  <xacro:property name="rgb_base" value="$(arg rgb_base)" />
  <xacro:property name="rgb_cam" value="$(arg rgb_cam)" />
  <xacro:property name="rgb_ccw" value="$(arg rgb_ccw)" />
  <xacro:property name="rgb_cw" value="$(arg rgb_cw)" />

  <xacro:property name="SITL_PORT" value="${9002 + int($(arg instance)) * 10}" />

  <xacro:property name="pi" value="3.14159265358979323846" />

  <!-- include basic fpv drone model -->
  <xacro:include filename="$(find ${package_name})/urdf/fpv_drone.xacro"
    package_name="${package_name}"
    robot_name="${robot_name}"
    rgb_base="1 1 1"
    rgb_cam="${rgb_cam}"
    rgb_ccw="${rgb_ccw}"
    rgb_cw="${rgb_cw}" />

  <xacro:include filename="$(find ${package_name})/urdf/gimbal_3d_gemini.xacro"
    package_name="${package_name}"
    parent_link="base_link"
    rgb="${rgb_cam}"
    rpy="${pi / 2} 0 ${pi / 2}"
    xyz="0.0 0.0 -0.03925"
    instance="0" />

  <!-- Motor FR -->
  <gazebo>

    <xacro:macro name="liftdrag_plugin_macro" params="motor_prefix cp_vec fwd_vec">
      <plugin filename="gz-sim-lift-drag-system" name="gz::sim::systems::LiftDrag">
        <link_name>motor_${motor_prefix}_link</link_name>
        <a0>0.3</a0>
        <alpha_stall>1.4</alpha_stall>
        <cla>4.2500</cla>
        <cda>0.10</cda>
        <cma>0.0</cma>
        <cla_stall>-0.025</cla_stall>
        <cda_stall>0.0</cda_stall>
        <cma_stall>0.0</cma_stall>
        <area>0.002</area>
        <air_density>1.2041</air_density>
        <cp>${cp_vec}</cp>
        <forward>${fwd_vec}</forward>
        <upward>0 0 1</upward>
      </plugin>
    </xacro:macro>

    <xacro:liftdrag_plugin_macro motor_prefix="fr" cp_vec="0.084 0 0" fwd_vec="0 1 0" />
    <xacro:liftdrag_plugin_macro motor_prefix="fr" cp_vec="-0.042 0.0727 0" fwd_vec="-0.866 -0.5 0" />
    <xacro:liftdrag_plugin_macro motor_prefix="fr" cp_vec="-0.042 -0.0727 0" fwd_vec="0.866 -0.5 0" />

    <xacro:liftdrag_plugin_macro motor_prefix="bl" cp_vec="0.084 0 0" fwd_vec="0 1 0" />
    <xacro:liftdrag_plugin_macro motor_prefix="bl" cp_vec="-0.042 0.0727 0" fwd_vec="-0.866 -0.5 0" />
    <xacro:liftdrag_plugin_macro motor_prefix="bl" cp_vec="-0.042 -0.0727 0" fwd_vec="0.866 -0.5 0" />

    <xacro:liftdrag_plugin_macro motor_prefix="fl" cp_vec="0.084 0 0" fwd_vec="0 -1 0" />
    <xacro:liftdrag_plugin_macro motor_prefix="fl" cp_vec="-0.042 0.0727 0" fwd_vec="0.866 0.5 0" />
    <xacro:liftdrag_plugin_macro motor_prefix="fl" cp_vec="-0.042 -0.0727 0" fwd_vec="-0.866 0.5 0" />

    <xacro:liftdrag_plugin_macro motor_prefix="br" cp_vec="0.084 0 0" fwd_vec="0 -1 0" />
    <xacro:liftdrag_plugin_macro motor_prefix="br" cp_vec="-0.042 0.0727 0" fwd_vec="0.866 0.5 0" />
    <xacro:liftdrag_plugin_macro motor_prefix="br" cp_vec="-0.042 -0.0727 0" fwd_vec="-0.866 0.5 0" />

    <!-- ApplyJointForce Eklentileri -->
    <xacro:macro name="apply_joint_force_plugin_macro" params="motor_prefix">
      <plugin filename="gz-sim-apply-joint-force-system"
        name="gz::sim::systems::ApplyJointForce">
        <joint_name>motor_${motor_prefix}_joint</joint_name>
      </plugin>
    </xacro:macro>

    <xacro:apply_joint_force_plugin_macro motor_prefix="fr" />
    <xacro:apply_joint_force_plugin_macro motor_prefix="bl" />
    <xacro:apply_joint_force_plugin_macro motor_prefix="fl" />
    <xacro:apply_joint_force_plugin_macro motor_prefix="br" />

    <!-- ArduPilotPlugin -->
    <plugin name="ArduPilotPlugin" filename="ArduPilotPlugin">
      <fdm_addr>127.0.0.1</fdm_addr>
      <fdm_port_in>${SITL_PORT}</fdm_port_in>
      <connectionTimeoutMaxCount>5</connectionTimeoutMaxCount>
      <lock_step>1</lock_step>


      <modelXYZToAirplaneXForwardZDown degrees="true">0 0 0 180 0 0</modelXYZToAirplaneXForwardZDown>
      <gazeboXYZToNED degrees="true">0 0 0 180 0 90</gazeboXYZToNED>

      <!-- IMU sensörüne tam adıyla referans veriliyor. -->
      <imuName>imu_link::imu_sensor</imuName>

      <xacro:macro name="control_motor_macro" params="channel motor_prefix multiplier">
        <control channel="${channel}">
          <jointName>motor_${motor_prefix}_joint</jointName>
          <useForce>1</useForce>
          <multiplier>${multiplier}</multiplier>
          <offset>0</offset>
          <servo_min>1100</servo_min>
          <servo_max>1900</servo_max>
          <type>VELOCITY</type>
          <p_gain>0.20</p_gain>
          <i_gain>0</i_gain>
          <d_gain>0</d_gain>
          <i_max>0</i_max>
          <i_min>0</i_min>
          <cmd_max>2.5</cmd_max>
          <cmd_min>-2.5</cmd_min>
          <controlVelocitySlowdownSim>1</controlVelocitySlowdownSim>
        </control>
      </xacro:macro>

      <xacro:control_motor_macro channel="0" motor_prefix="fr" multiplier="838" />
      <xacro:control_motor_macro channel="1" motor_prefix="bl" multiplier="838" />
      <xacro:control_motor_macro channel="2" motor_prefix="fl" multiplier="-838" />
      <xacro:control_motor_macro channel="3" motor_prefix="br" multiplier="-838" />

      <xacro:macro name="control_gimbal_macro" params="channel prefix multiplier offset">
        <control channel="${channel}">
          <jointName>gimbal_${prefix}_joint</jointName>
          <multiplier>${multiplier}</multiplier>
          <offset>${offset}</offset>
          <servo_min>1100</servo_min>
          <servo_max>1900</servo_max>
          <type>COMMAND</type>
          <cmd_topic>/gimbal/cmd_${prefix}</cmd_topic>
          <p_gain>2</p_gain>
        </control>
      </xacro:macro>

      <xacro:control_gimbal_macro channel="8" prefix="roll" multiplier="${pi / 3}" offset="-0.5" />
      <xacro:control_gimbal_macro channel="9" prefix="pitch" multiplier="${- pi}" offset="-0.75" />
      <xacro:control_gimbal_macro channel="10" prefix="yaw" multiplier="${- (pi + pi * 7 / 9)}"
        offset="-0.5" />
    </plugin>

    <xacro:macro name="joint_position_controller_macro" params="prefix">
      <plugin filename="gz-sim-joint-position-controller-system"
        name="gz::sim::systems::JointPositionController">
        <joint_name>gimbal_${prefix}_joint</joint_name>
        <topic>/gimbal/cmd_${prefix}</topic>
        <p_gain>2</p_gain>
      </plugin>
    </xacro:macro>

    <xacro:joint_position_controller_macro prefix="roll" />
    <xacro:joint_position_controller_macro prefix="pitch" />
    <xacro:joint_position_controller_macro prefix="yaw" />
  </gazebo>

</robot>