<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="fpv_link_base" params="package_name rgb">

    <link name="base_link">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <mass value="1.5" />
        <inertia ixx="0.008" ixy="0" ixz="0" iyy="0.015" iyz="0" izz="0.017" />
      </inertial>

      <visual name="base_link_visual">
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://${package_name}/meshes/fpv_drone/base_link.stl" scale="1 1 1" />
        </geometry>
        <material name="base_link_material">
          <color rgba="${rgb} 1" />
        </material>
      </visual>

      <collision name="base_link_collision">
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <box size="0.29 0.09 0.0785" />
        </geometry>
      </collision>
    </link>

    <gazebo reference="base_link">
      <visual name="base_link_visual">
        <material>
          <diffuse>${rgb} 1</diffuse>
          <ambient>${rgb} 1</ambient>
          <specular>1 1 1 1</specular>
        </material>
      </visual>

      <collision name="base_link_collision">
        <surface>
          <contact>
            <ode>
              <max_vel>100.0</max_vel>
              <min_depth>0.001</min_depth>
            </ode>
          </contact>
          <friction>
            <ode>
              <mu>200000.0</mu>
              <mu2>200000.0</mu2>
            </ode>
          </friction>
        </surface>
      </collision>
    </gazebo>

    <link name="imu_link">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <mass value="0.15" />
        <inertia ixx="0.00001" ixy="0" ixz="0" iyy="0.00002" iyz="0" izz="0.00002" />
      </inertial>
    </link>

    <joint name="imu_joint" type="revolute">
      <parent link="base_link" />
      <child link="imu_link" />
      <origin xyz="0 0 0" rpy="0 0 0" />
      <axis xyz="0 0 1" />
      <limit lower="0.0" upper="0.0" effort="0.0" velocity="0.0" />
      <dynamics damping="1.0" />
    </joint>

    <gazebo reference="imu_link">
      <sensor name="imu_sensor" type="imu">
        <always_on>true</always_on>
        <update_rate>1000.0</update_rate>
        <pose>0 0 0 3.14159265359 0 0</pose>
      </sensor>
    </gazebo>

  </xacro:macro>
</robot>