<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="macro_fpv_drone"
    params="package_name:='fpv_drone' namespace:='fpv_drone' parent_link:='fpv_drone_footprint' rgb_base:='0.0625 0 0.25' rgb_cam:='0 1 1' rgb_ccw:='1 0 0' rgb_cw:='0 1 0' rpy:='0 0 0' xyz:='0 0 0'">

    <xacro:include filename="$(find ${package_name})/urdf/macro_fpv_base.xacro" />
    <xacro:include filename="$(find ${package_name})/urdf/macro_fpv_cam.xacro" />
    <xacro:include filename="$(find ${package_name})/urdf/macro_fpv_motor.xacro" />

    <xacro:macro_fpv_base package_name="${package_name}" namespace="${namespace}"
      parent_link="${parent_link}" rgb="${rgb_base}" rpy="${rpy}" xyz="${xyz}" />

    <xacro:macro_fpv_cam package_name="${package_name}" namespace="${namespace}"
      parent_link="${namespace}_base_link"
      rgb="${rgb_cam}" rpy="0 -0.47787 0" xyz="0.16346 -0.0002193 0.0023036" />

    <xacro:macro_fpv_motor package_name="${package_name}" namespace="${namespace}"
      parent_link="${namespace}_base_link"
      prefix="fr" rgb="${rgb_ccw}" rpy="0 0 0" xyz="0.13541 -0.11532 0.01837" />
    <xacro:macro_fpv_motor package_name="${package_name}" namespace="${namespace}"
      parent_link="${namespace}_base_link"
      prefix="bl" rgb="${rgb_ccw}" rpy="0 0 0" xyz="-0.08106 0.11675 0.018367" />
    <xacro:macro_fpv_motor package_name="${package_name}" namespace="${namespace}"
      parent_link="${namespace}_base_link"
      prefix="fl" rgb="${rgb_cw}" rpy="0 0 0" xyz="0.1353 0.11683 0.01837" />
    <xacro:macro_fpv_motor package_name="${package_name}" namespace="${namespace}"
      parent_link="${namespace}_base_link"
      prefix="br" rgb="${rgb_cw}" rpy="0 0 0" xyz="-0.08098 -0.11539 0.01837" />

    <gazebo>
      <plugin
        filename="gz-sim-joint-state-publisher-system"
        name="gz::sim::systems::JointStatePublisher">
      </plugin>
    </gazebo>
  </xacro:macro>
</robot>